ion-toolbar {
  --background: white;

  ion-title {
    font-weight: normal;
    font-size: 20px;
    font-family: 'medium';
  }
}

.main_content_div {
  padding: 16px;

  ion-col {
    padding: 0px;
    padding-bottom: 16px;

    .detail_div {
      background: white;
    }
  }

  .left {
    padding-left: 8px;
  }

  .right {
    padding-right: 8px;
  }
}
.product_box {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  .image_box {
    width: 100%;
    height: 150px;
    background: var(--ion-color-app-grey);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


    img {
      width: 90%;
    }

    .best_lbl {
      background: var(--ion-color-app-orange);
      width: fit-content;
      padding: 3px 6px;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      color: white;
      font-family: 'medium';
      font-size: 14px;
    }
  }

  .detail_div {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px;
    position: relative;

    .like_box {
      height: 26px;
      width: 26px;
      background: white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: -12px;
      right: 8px;

      ion-icon {
        color: var(--ion-color-app-orange);
      }
    }

    .name_lbl {
      font-family: 'medium';
      margin-bottom: 8px;
    }

    .price_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .old_price {
        font-size: 12px;
        text-decoration: line-through;
      }

      .price_lbl {
        //font-family: 'semi-bold';
        color: var(--ion-color-app-green);
        font-size: 15px;

        span {
          color: black;
          font-size: 13px;
        }
      }

      .save_lbl {
        background: var(--ion-color-app-green);
        color: white;
        font-family: 'medium';
        border-radius: 3px;
        font-size: 12px;
        white-space: nowrap;
        padding: 3px 4px;
      }
    }
  }
}
