<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"TITLE_CLAIMS_DETAIL" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content" *ngFor="let item of claim_detail">
    <div class="banner_div">
      <img src="{{item.prize_picture}}"/>
    </div>
    <div class="title_div">
      <ion-label class="title">{{item.claim_date | date: 'dd/MM/yyyy H:mm:ss'}}</ion-label>
    </div>

    <div class="line_div">
      <ion-label class="title">{{"LBL_PRIZE" | translate}}</ion-label>
      <ion-label class="text">{{item.prize_name}}</ion-label>
    </div>

    <div class="line_div">
      <ion-label class="title">{{"LBL_DELIVERED" | translate}}</ion-label>
      <ion-label class="text">{{item.is_delivered === 1 ? "Yes":"No"}}</ion-label>
    </div>

    <div class="title_div">
      <ion-label class="title">{{"LBL_ADDITIONAL_INFO" | translate}}</ion-label>
    </div>

    <div class="line_div">
      <ion-label class="title">{{"LBL_PRIZE_ID" | translate}}</ion-label>
      <ion-label class="text">{{item.prize_id}}</ion-label>
    </div>
  </div>

</ion-content>
