/*
  Authors : Antonio D'Angelo
  Website : https://www.wtbss.com/
  App Name : Fidelity App
  This App Template Source code is licensed as per the
  terms found in the Website https://www.wtbss.com/license.html
  Copyright and Good Faith Purchasers © 2023-present Antonio D'Angelo.
*/
ion-header {
  .logo {
    display: flex;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.main-content {

  .balance_card {
    border-radius: 15px;
    padding: 16px;
    position: relative;
    margin: 16px;
    background-color: var(--ion-color-primary);
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .upper_div {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .title_left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .text {
          font-size: 14px;
          color: var(--ion-color-light);
          padding-bottom: 4px;
        }

        .title {
          font-size: 20px;
          font-family: 'medium';
          color: white;
        }
      }

      .card_logo_img {
        width: 50px;
        height: 50px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }

    }

    .lower_div {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .title_left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .text {
          font-size: 14px;
          color: var(--ion-color-light);
          padding-bottom: 4px;
        }

        .title {
          font-size: 14px;
          font-family: 'medium';
          color: white;
        }
      }

      ion-icon {
        font-size: 30px;
      }

      .card_logo_img {
        width: 50px;
        height: 50px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  .limit_card {
    width: 92%;
    --background: var(--ion-color-dark);
    background-color: var(--ion-color-dark);
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
    padding: 16px 0px;

    .progress {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 10px;
    }

    .title {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 14px;
        padding-bottom: 10px;
      }

      .dollar {
        font-size: 14px;
        font-family: "bold";
      }
    }
  }

  .recent_card {

    .col_div {
      margin: 12px 16px;

      .item_card {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        border-radius: 12px;
        position: relative;
        border: 1px solid lightgray;
        padding: 10px;

        .icon {
          background-color: var(--ion-color-primary-tint);
          margin-right: 10px;
          padding: 14px;
          display: flex;
          border-radius: 50%;

          .cate_img {
            width: 30px;
            height: 30px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }


        .details {
          display: block;
          width: 90%;

          .col {
            display: flex;
            flex-direction: column;
          }

          .end_div {
            display: flex;
            align-items: center;

            .price {
              font-family: 'medium';
              color: black;
              font-size: 16px;
              padding-right: 4px;

            }
          }

          .flex_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .tag {
              background-color: var(--ion-color-primary);
              color: white;
              border-radius: 50%;
              font-size: 10px;
              width: 18px;
              height: 18px;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .title {
              font-family: 'medium';
              padding-bottom: 6px;

            }

            .text {
              font-size: 12px;
              color: var(--ion-color-medium);
            }
          }
        }
      }
    }
  }


  .title_div {
    margin: 6px 16px;
    margin-top: 20px;
  }

  .badge {
    ion-row {
      margin: 5px 0px;

      ion-col {
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-label {
          font-size: 12px;
          font-family: "medium";
          padding-top: 6px;
        }

        ion-icon {
          padding: 10px;
          font-size: 28px;
          padding: 16px;
          border-radius: 50%;
          background-color: var(--ion-color-primary-tint);
        }
      }
    }
  }
}
.head_div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  .head_lbl {
    font-size: 32px;
    display: block;
    width: 100%;
    font-family: "bold";
    margin-top: 50px;
  }

  .small_lbl {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: var(--ion-color-medium);
  }
}
