ion-toolbar {
  --background: var(--ion-color-app-lightgreen);

  ion-title {
    color: var(--ion-color-primary);
    font-size: 20px;
    font-weight: normal;
  }
}

.main_content_div {
  .content_div {

    .select_div {
      border-bottom: 1px solid lightgrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;

      .inner_flex {
        display: flex;
        align-items: center;

        ion-checkbox {
          --border-color: var(--ion-color-app-green);
          --background-checked: var(--ion-color-app-green);
          --border-color-checked: var(--ion-color-app-green);
        }

        ion-label {
          margin-left: 16px;
        }
      }

      .red_lbl {
        color: red;
      }
    }

    .pro_div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border-bottom: 1px solid lightgrey;

      .pro_flex {
        display: flex;
        align-items: center;

        ion-checkbox {
          --border-color: var(--ion-color-app-green);
          --background-checked: var(--ion-color-app-green);
          --border-color-checked: var(--ion-color-app-green);
        }

        .pro_image {
          width: 70px;
          height: 70px;
          min-width: 70px;
          background: var(--ion-color-app-grey);
          margin-left: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .name_lbl {
          margin-bottom: 8px;
        }

        .price_lbl {
          color: var(--ion-color-app-green);
          font-size: 15px;

          span {
            color: black;
            font-size: 13px;
          }
        }
      }

      .cart_box {
        border: 1px solid lightgrey;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        border-radius: 3px;
        width: 90px;

        div {
          height: 20px;
          width: 20px;
          min-width: 20px;
          border-radius: 3px;
          background: var(--ion-color-primary);
          display: flex;
          align-items: center;
          justify-content: center;

          ion-icon {
            color: white;
          }
        }
      }
    }

    .add_more {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;

      ion-icon {
        color: var(--ion-color-app-green);
        font-size: 18px;
      }

      ion-label {
        color: var(--ion-color-app-green);
        margin-left: 16px;
      }
    }

    .title_lbl {
      font-size: 20px;
      margin-bottom: 16px;
    }

    .product_slider {
      display: flex;
      width: 100%;
      overflow: scroll;

      .product_box {
        margin-right: 20px;
        min-width: 190px;

        .image_box {
          height: 170px;
        }
      }
    }
  }

  .divider {
    width: 100%;
    height: 16px;
    background: var(--ion-color-app-lightgreen);
  }
}

.footer_div {
  .select_div {
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    .inner_flex {
      display: flex;
      align-items: center;

      ion-icon {
        color: var(--ion-color-app-green);
        font-size: 20px;
      }

      ion-label {
        margin-left: 16px;
        color: var(--ion-color-app-green);
      }
    }

    .right_arrow {
      color: lightgrey;
      font-size: 24px;
    }
  }

  .payment_div {
    display: flex;
    align-items: center;
    padding: 16px;

    .simple_lbl {
      font-size: 15px;
      margin-bottom: 5px;
      color: grey;
      white-space: nowrap;
    }

    .price_lbl {
      color: var(--ion-color-app-green);
      white-space: nowrap;
    }

    ion-button {
      width: 100%;
      --background: var(--ion-color-app-green);
    }
  }
}
